
# Port chạy server
PORT=5000

# MongoDB connection string
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/skys_platform?retryWrites=true&w=majority

# JWT Secret Key (PHẢI thay đổi trong production!)
JWT_SECRET=your_jwt_secret_key_here

# Môi trường (development | production)
NODE_ENV=development
